.header {
    composes: outerMargin from '../../styles/common.css';
}
.text {
	color: white;
	text-transform: uppercase;
	font-size: 40px;
}
.button {
    composes: button from '../../styles/common.css';
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgb(242, 242, 242);  
}
