@value colors: "../../styles/colors.css";
@value white, purple, black from colors;

.card {
    composes: outerMargin from '../../styles/common.css';
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    cursor: pointer;
}

.card:hover {
  background-color: rgb(242, 242, 242);    
}

.outer { 
    background-color: transparent;
    width: 80%;
    height: 50px;
}

.inner {
    background-color: rgba(0, 0, 0, 0.0313726);
    width: 0%;
    height: 50px;
    transition: width 2s;
}

.text {
	color: purple;
	margin: 0;
	padding-top: 15px;
	text-transform: uppercase;
	opacity: 0;
    transition: opacity 3s;
}
.name {
    color: gray;
    text-transform: uppercase;
}

/* responsive */

/* mobile */

.text { padding-left: 10px; }

/* tablet (larger than 750px) */
@media (min-width: 750px) {
    .text { padding-left: 50px; }
}

/* desktop (larger than 1000px) */
@media (min-width: 1000px) {
    .text { padding-left: 100px; }
}

/* hd desktop (larger than 1000px) */
@media (min-width: 1200px) {
}

