.button {
  text-transform: uppercase;
  display: inline-block;
  transition: all 300ms;
  text-decoration: none;
  border-radius: 3px;
  line-height: 16px;
  border: 0;
  margin: 0;
  cursor: pointer;
  background: white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
